body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  user-select: none;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}

.parallax-container {
  position: relative;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  perspective: 1000px;
  perspective-origin: center;
  touch-action: none;
  cursor: pointer;
}

.parallax-layer {
  position: absolute;
  top: -10dvh;
  left: -10dvw;
  width: 120dvw;
  height: 120dvh;
  will-change: transform;
  pointer-events: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform-origin: center;
  backface-visibility: hidden;
}
.button {
  position: absolute;
  opacity: 1;
  visibility: visible;
  transition:
    opacity 0.5s ease,
    visibility 0.5s ease;
  bottom: calc(var(--safe-area-bottom));
  width: 170px;
  cursor: pointer;
}

@media (max-height: 400px) {
  .button {
    opacity: 0;
    visibility: hidden;
  }
}

@media (min-width: 768px) {
  .button {
    left: calc(var(--safe-area-left));
    transform: none;
  }
}

@media (max-width: 767px) {
  .button {
    left: 50%;
    transform: translateX(-50%);
  }
}
.gradient-overlay {
  position: absolute;
  inset: 0;
  width: 100dvw;
  height: 100dvh;
  pointer-events: none;

  background: linear-gradient(
    to bottom,

    /* Top fade-out */ hsla(0, 0%, 0%, 0.738) 0px,
    hsla(0, 0%, 0%, 0.541) 40px,
    hsla(0, 0%, 0%, 0.382) 72px,
    hsla(0, 0%, 0%, 0.278) 100px,
    hsla(0, 0%, 0%, 0.194) 126px,
    hsla(0, 0%, 0%, 0.126) 150px,
    hsla(0, 0%, 0%, 0.075) 172px,
    hsla(0, 0%, 0%, 0.042) 192px,
    hsla(0, 0%, 0%, 0.021) 208px,
    hsla(0, 0%, 0%, 0.008) 220px,
    hsla(0, 0%, 0%, 0.002) 228px,
    hsla(0, 0%, 0%, 0) 232px,
    /* Transparent middle */ hsla(0, 0%, 0%, 0) calc(100% - 232px),
    /* Bottom fade-in */ hsla(0, 0%, 0%, 0.002) calc(100% - 228px),
    hsla(0, 0%, 0%, 0.008) calc(100% - 220px),
    hsla(0, 0%, 0%, 0.021) calc(100% - 208px),
    hsla(0, 0%, 0%, 0.042) calc(100% - 192px),
    hsla(0, 0%, 0%, 0.075) calc(100% - 172px),
    hsla(0, 0%, 0%, 0.126) calc(100% - 150px),
    hsla(0, 0%, 0%, 0.194) calc(100% - 126px),
    hsla(0, 0%, 0%, 0.278) calc(100% - 100px),
    hsla(0, 0%, 0%, 0.382) calc(100% - 72px),
    hsla(0, 0%, 0%, 0.541) calc(100% - 40px),
    hsla(0, 0%, 0%, 0.738) 100%
  );
}
@media (max-width: 620px), (max-height: 620px) {
  .content-container {
    display: none;
  }
}
